<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>

<body>
  <div class="Menubar">
    <ul>
      <li>
        <a [routerLink]="['/']"><button>AboutMe</button></a>
      </li>
      <li>
        <a [routerLink]="['/skill']"><button>Skill</button></a>
      </li>
      <li>
        <a [routerLink]="['/contact']"><button>Contact Me</button></a>
      </li>
      <li>
        <a [routerLink]="['/protfolio']"><button>Protfolio</button></a>
      </li>
    </ul>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</body>

</html>
